//colors
// $primary:#FE5F1E;
// $primary:#ffc72c;
$primary:orange;
$primary-hover:rgba(247, 146, 14, 0.815);
// $primary-hover:green;
// $primary-hover:red; 
$secondary:#F8F8F8;
// $secondary:#DAE0E2;
// $secondary:#ffc72c;

$pure:#fff;
$dark:#232323;
$gray:#ccc;

//transition
$smooth: all .3s ease-in-out
